{% extends "accounts/base.html" %}
{% load static %}
{% load i18n %}
{% block title %}{% trans "Home Page" %}{% endblock title %}
{% block content %}
        <div class="p-lg-5 p-4 text-center">
            <div class="mt-4 text-center">
            <div class="list-group list-group-fill-success">
                <a href="#" class="list-group-item list-group-item-action active"><i class=" ri-home-8-line align-middle me-2"></i>{% trans "Home PAGE" %}</a>
                <a href="{% url 'create_User' %}" class="list-group-item list-group-item-action"><i class=" ri-registered-line align-middle me-2"></i>Create User Access</a>
                <a href="{% url 'user_login' %}" class="list-group-item list-group-item-action"><i class=" ri-login-circle-line align-middle me-2"></i>User Login Access</a>
                <a href="{% url 'user_factorLogin' %}" class="list-group-item list-group-item-action"><i class=" ri-login-circle-line align-middle me-2"></i>2 factor Login Access</a>
                <a href="{% url 'user_logout' %}" class="list-group-item list-group-item-action"><i class=" ri-logout-circle-line align-middle me-2"></i>User Logout Access</a>
                <a href="{% url 'user_passwordReset' %}" class="list-group-item list-group-item-action"><i class=" ri-restart-line align-middle me-2"></i>User Password Reset</a>
                <a href="{% url 'Forgot_Password_Acces' %}" class="list-group-item list-group-item-action"><i class=" ri-lock-2-line align-middle me-2"></i>Forgot Password Access</a>
                <a href="{% url 'passwordChange' %}" class="list-group-item list-group-item-action"><i class=" ri-exchange-line align-middle me-2"></i>Password Change</a>
                <a href="{% url 'account_Type' %}" class="list-group-item list-group-item-action"><i class=" ri-exchange-line align-middle me-2"></i>Role ve İzin Kontrol</a>
            </div>
            <div class="mt-4 text-center">
                <p class="mb-0">Back to home ? <a href="{% url 'home' %}" class="fw-bold text-primary text-decoration-underline"> Home Page </a> </p>
            </div>
        </div>
    </div>
<!-- end col -->
{% endblock content %}
